<!-- Start Header -->
<div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme="a">
  <h1 class="loggedin">Mobile.UP </h1>
   <%  if(store.get('up.session.authenticated')){ %>
    <a href="#options" class="settings ui-btn" data-role="button" data-icon="false" title="logout" alt="logout">Logout</a>
   <%  } else { %>
    <a href="#options" class="settings ui-btn" data-role="button" data-icon="false" title="login" alt="login">Login</a>
   <% } %>
</div>
<!-- End Header -->

<!-- Start Main - Navigation -->
<div data-role="content">

	<div class="flex-container">
     <p style="margin-bottom:2%;">
       Hallo,
     </p>
    <p style="margin-bottom:2%;">
      Mit den folgenden Funktionen kannst Du Deine
      erworbenen Kompetenzen überblicken und reflektieren.
    </p>
    <p style="margin-bottom:2%;">
      Bitte nutze die folgenden Einstiegspunkte, um Deine
      Kompetenzen einzusehen.
    </p>
		<!-- Mein Studium -->
		<h2>Kompetenzen verwalten</h2>
		<div>
			<div class="flex-item iconized competences">
				<a href="#courseSelection" data-role="button">Nach <br> Kursen</a>
			</div>
			<div class="flex-item iconized competences">
				<a href="#myCompetences" data-role="button">Nach <br> Ergebnissen</a>
			</div>
			<div class="flex-item iconized competences">
				<a href="#myCompetencePaths" data-role="button">Nach <br> Vorschlägen</a>
			</div>
		</div>
	</div>
</div> <!-- ende content -->
<!-- End Main - Navigation -->